{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading"><i class="fas fa-sad-tear"></i></h4>
        <p>No hemos encontrado la imagen</p>
    </div>
{% endblock %}